<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dreams Boilerplate</title>
  <!-- Correct way to link static files -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <h1>Hey!</h1>

  <!-- Form with a button to trigger the method -->
  <form action="/data_retrieve" method="POST">
    <button type="submit">Run Method</button>
  </form>

  <!-- Correct way to link JS files -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
